<h1><%= @model.capitalize.pluralize %></h1>

<% if @cols.include? "email" %>
	<ul>
		<li><%= link_to "Send Message", "#" %></li>
	</ul>
<% end %>

<table>
  <thead>
    <tr>
			<th></th>

			<% @cols.each do |c| %>
				<th><%= c.capitalize %></th>
			<% end %>
    </tr>
  </thead>

  <tbody>
    <% @trackables.each do |trackable| %>
      <tr>
				<td><%= check_box_tag :n %></td>

				<% @cols.each do |c| %>
					<td><%= link_to trackable.data[c].to_s, trackable_path(trackable.model.pluralize, trackable.key) %></td>
				<% end %>
      </tr>
    <% end %>
  </tbody>
</table>