<p id="notice"><%= notice %></p>

<h1><%= @trackable.key %></h1>

<pre><%= JSON.pretty_generate @trackable.data %></pre>

<table>
	<%= render @trackable.events %>
</table>

<%= link_to 'Back', :back %>
