<!DOCTYPE html>
<html>
<head>
  <title>Remetric</title>
  <%= stylesheet_link_tag    "remetric/application", media: "all" %>
  <%= javascript_include_tag "remetric/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= render "nav", placeholder: false %>
	<%= render "nav", placeholder: true %>
	
	<div class="wide_container">
		<% if notice %>
			<p><%= notice %></p>
		<% end %>
		
		<div id="yield">
			<%= yield %>
		</div>
	</div>
	
	<%= render "footer" %>
	
	<div id="dialog_overlay"></div>

</body>
</html>
